body {
  background: linear-gradient(270deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  display: flex;
  justify-content: center;
}

.container {
  border: 5px solid rebeccapurple;
  height: 75vh;
  width: 55vw;
  background-color: grey;
  margin-top: 7%;
}

#startButton {
  margin: 50% 45% 10% 50%;
}

#displayQuestion {
  border: 5px solid goldenrod;
}